@import '../config-scss/rem-calc.scss';

//All Settings
ion-icon {
  font-size: rem-calc(24);
}

ion-toolbar {
  height: rem-calc(75);

  .top-bar {
    height: rem-calc(30);
    padding: 0 0 0 rem-calc(20);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      height: rem-calc(30);
      display: flex;
      align-items: center;

      span {
        font-size: rem-calc(12);
        font-weight: 100;
      }
    }

    .buttons {
      height: rem-calc(30);
      display: flex;

      button {
        width: rem-calc(40);
        height: rem-calc(30);
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;

        ion-icon {
          font-size: rem-calc(14);
        }

        ion-icon[name="close-outline"] {
          font-size: rem-calc(20);
        }
      }
    }
  }

  .low-bar {
    height: rem-calc(45);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: flex;
      align-items: center;

      span {
        font-size: rem-calc(20);
        font-weight: 400;
      }
    }

    .historic {
      display: flex;
      align-items: center;
    }
  }
}

ion-content {
  --background: var(--content_background);
  padding: 0;
  margin: 0;

  .result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    background-color: var(--buttons_background);

    p {
      font-size: 2rem;
    }
  }

  .m {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 6%;
    ion-button {
      --background: var(--buttons_background);
      --color: var(--font_color);
      --border-radius: 0;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .operations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 74%;

    .operations-buttons {
      --background: var(--buttons_background);
      --color: var(--font_color);
      --border-radius: 0;

      --border-color: var(--buttons_border_color);
      --border-style: solid;
      --border-width: 1px;

      padding: 0;
      margin: 0;
      height: auto;

      font-size: 1.2rem;
    }

    .other-button {
      --background: var(--content_background);
    }

    .hover-buttons:hover {
      --background: var(--equals_background);
      color: #111;
    }
  }
}
