<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="top-bar">
      <div class="title">
        <span>Calculadora</span>
      </div>
      <div class="buttons">
        <button>
          <ion-icon name="remove-outline"></ion-icon>
        </button>
        <button>
          <ion-icon name="browsers-outline"></ion-icon>
        </button>
        <button>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
    </div>
    <div class="low-bar">
      <div class="menu">
        <ion-button fill="clear" color="dark">
          <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-button>
        <span>Padrão</span>
      </div>
      <div class="historic">
        <ion-button fill="clear" color="dark">
          <ion-icon name="timer-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="result">
    <p>{{ count }}</p>
  </div>
  <div class="m">
    <ion-button>MC</ion-button>
    <ion-button>MR</ion-button>
    <ion-button>M+</ion-button>
    <ion-button>M-</ion-button>
    <ion-button>MS</ion-button>
    <ion-button>M</ion-button>
  </div>

  <div class="operations">
    <ion-button class="operations-buttons" (click)="addToCount('%')">%</ion-button>
    <ion-button class="operations-buttons" (click)="addToCount('√')">√</ion-button>
    <ion-button class="operations-buttons" (click)="addToCount('²')">x²</ion-button>
    <ion-button class="operations-buttons" (click)="addToCount('1/')">⅟</ion-button>
    <ion-button class="operations-buttons" (click)="clear()">CE</ion-button>
    <ion-button class="operations-buttons" (click)="clear()">C</ion-button>
    <ion-button class="operations-buttons" (click)="removeLast()">
      <ion-icon name="backspace-outline"></ion-icon>
    </ion-button>
    <ion-button class="operations-buttons hover-buttons" (click)="addToCount('÷')">÷</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('7')">7</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('8')">8</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('9')">9</ion-button>
    <ion-button class="operations-buttons hover-buttons" (click)="addToCount('x')">x</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('4')">4</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('5')">5</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('6')">6</ion-button>
    <ion-button class="operations-buttons hover-buttons" (click)="addToCount('-')">-</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('1')">1</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('2')">2</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('3')">3</ion-button>
    <ion-button class="operations-buttons hover-buttons" (click)="addToCount('+')">+</ion-button>
    <ion-button class="operations-buttons" (click)="addToCount('±')">±</ion-button>
    <ion-button class="operations-buttons other-button" (click)="addToCount('0')">0</ion-button>
    <ion-button class="operations-buttons" (click)="addToCount(',')">,</ion-button>
    <ion-button class="operations-buttons hover-buttons">=</ion-button>
  </div>
</ion-content>
